

.nav{
  display: flex;
  width:100%;
  
  /* background-color: cadetblue; */
  height: 40px;
  border-bottom: 1px solid rgb(231, 225, 225);
}
.left-nav{
  display: flex;
  /* background-color: aqua; */
  width: 33.4%;

}
.middle-nav{
  margin: auto;
  text-align: center;
  /* background-color: blueviolet; */
  width:33.4%;
  color: red;
  

}
.right-nav{
  display: flex;
  justify-content: end;
  /* background-color: chartreuse; */
  width: 33.4%;

}
.cart-quantity{
  position: relative;
  bottom:24px;
  left:27px;
  background-color: red;  
  color: #fff;
  padding-left:11px;
  border-radius:50px;
  font-size:7.5px;
  width:10px;
  /* padding-left:-10px; */
  /* margin-left: 5px; */
  padding-left: 2px; */
}
.adding-quantity{
  position: relative;
  left:12px;
  bottom: 25px;px;
  width: 7px;
  color: #fff;
  border-radius:50px;
  font-size:8px;
  padding-left:2px;
  

}
.chikfla-logo{
  border-right: 1px solid rgb(189, 184, 184);
}
.chikfla-logo img{
  margin-right: 4px;
  height: 35px;
  border-radius:50px ;

}
.store-location{
  display: flex;
  margin-left: 10px;
}
.store-location img{
  height: 35px;
}
.store-address{
  margin-left: 7px;
  font-size: 13px;
  color: red;
}
.shopping-cart img{
  height: 35px;
}
.sign-btn{
  color: red;
  width: 35%;
  height: 37px;
  border-radius: 20px;
  border-width: 1px;
  margin-right: 10px;
}
.hover-nav ul{
  display: flex;
  text-align: center;
  border-bottom: 1px solid rgb(237, 227, 227);
  margin-left:43px;
}
.hover-nav li{
  display: flex;
  list-style: none;
  margin: 10px;
  color: red;
  font-size: 12px;
  font-weight: 570;
}
.menu{
  color: red;
  border: none;
  background-color:#fff;
}
#orderList{
  display: none;
}

h3{
  color:#004F71 ;
}
.order-section{
  display: flex;
  justify-content: space-between;

}
.order-now{
  color: white;
  background-color: red;
  border-radius: 20px;
  height: 35px;
  width:25%;
  border: none;
  margin-top: 10px;

}


p{
  color:#004F71;
  font-size:2em;
  font-weight: 700;
}
.price{

  margin-top:-10px;
  
}
.products{
  display: grid;
  grid-template-columns: repeat(3,250px);
  grid-auto-rows:200px;
  grid-column-gap:100px;
  grid-row-gap:100px;
  
  
  text-align: center;
  margin-top: 90px;
  color: #004F71;
  font-size: 17px;
  font-weight: 600;
}

  

.meals:hover{
  background-color: beige;
  border:1.5px solid tomato;
  border-radius: 5px;
  padding: 10px;

}
.products img{
  height:100px;
}
.sandwich img{
  height: 150px;
}
.chikfla-container{
  cursor: pointer;
}


.add-cart{
  background-color: yellow;
  border-radius: 13px;
  font-size:10px;
  padding:7px;
  width:85px;
  border-width: thin;
  cursor: pointer;
}
.check-out-btn{
  margin-right: 40px;
  height: 37px;
  background-color: red;
  border-radius: 20px;
  border-width: 1px;
  width:83px;
  
}


.checkout-sign-in{
  margin-right: 20px;
  width:83px;
  border-width: thin;
}
.nav-myorder{
  display: flex;
  justify-content: center;
  width:100%;
}
hr{
  margin-top: -12px;
  color:gray;
  font-size: 0.3px;
}
.my-order{
  display: flex;
  border-bottom: 2px solid gray;
  height:90px;
  margin-left:70px;
  width:110%;
}
.my-food-order{
  display: flex;

}
.myorder-h3{
  font-size: 15px;
}
.my-order-checkout img{
  height: 100px;
}
.my-order-checkout{
  display: flex;
  height:200px;
  
  color: red;
  justify-content: space-between;
  margin-top: 37px;
  text-align: center;
  cursor: pointer;
  
}
.my-order p{
  font-size: 14px;
}
.check-out{
  border: 1px solid black;
  height: 400px;
  width: 40%;
  color: black;

  
  margin-right: 17px;
}
.amount{
  margin-left:34px;
  margin-top: 24px;
}
.price{
  font-size: 12px;
}
.delete-edit{
  display: flex;
  color: red;
  font-size: 12px;
}
.Edit{
  margin-left: 5px;
}
.delete{
  margin-right: 5px;
}

.quantity{
  margin-right: 5px;
}
.items{
  display: flex;
  gap:120px;
  margin-top: 30px;
  margin-left:40px;
  text-align: center;
}
.total-before-tax{
  display: flex;
  gap:120px;
  margin-top: 30px;
  margin-left:40px;
  text-align: center;
}
.order-total{
  display: flex;
  gap:120px;
  font-size:18px;
  margin-top: 30px;
  margin-left:40px;
  text-align: center;
  color: rgb(255, 99, 71);
  font-weight: 900;

}
.estimated-tax{
  display: flex;
  gap:120px;
  margin-top: 30px;
  margin-left:40px;
  text-align: center;
}
.place-order{
  background-color: rgba(255, 255, 0, 0.977);
  width:60%;
  margin-top:40px;
  height:40px;
  border-radius: 10px;
  border: none;
}
.items-amount{
  margin-left: 47px;
}
.tax-amount{
  margin-right:84px;
}
.check-out-hr{
  color: rgb(22, 20, 20);
  margin-top: 20px;
}

